<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->
<link rel="stylesheet" href="/css/my_styles.css">

<p>
  <a class = "base-btn blue">Primary</a>
</p>

<p>
  <a class = "base-btn grey">Secondary</a>
</p>

<p>
  <a class = "base-btn green">Success</a>
</p>

<p>
  <a class = "base-btn red">Danger</a>
</p>

<p>
  <a class = "base-btn yellow">Warning</a>
</p>

<p>
  <a class = "base-btn cyan">Info</a>
</p>


<p>Less intrusive variants:</p>

<p>
  <a class = "outline-btn outline-blue" >Primary (unobtrusive)</a>
</p>

<p>
  <a class = "outline-btn outline-grey" >Secondary (unobtrusive)</a>
</p>

<p>
  <a class = "outline-btn outline-green" >Success (unobtrusive)</a>
</p>

<p>
  <a class = "outline-btn outline-red" >Danger (unobtrusive)</a>
</p>

<p>
  <a class = "outline-btn outline-yellow" >Warning (unobtrusive)</a>
</p>

<p>
  <a class = "outline-btn outline-cyan" >Info (unobtrusive)</a>
</p>
