<span class = "button">Click me!</span>

<style>
  .button {
    background-color: blue;
    color: white;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 48px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 10px 10px 48px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 48px -1px rgba(0,0,0,0.39);

  }

  .button:hover {
    background-color: darkblue;
  }

  .button:active {
    background-color: lightblue;
  }
</style>
